#header a{
	display:block;
	margin:auto;
}
#header a img {max-height:125px;max-width:125px;margin:auto;}

#sitepage div.column{
	border:0px solid grey;
}


#menu {
	width: 100%;
}

h1#sitename {
	text-align: center;
}
